@charset "UTF-8";

nav {
    margin-bottom: 15px;
}

.content {
    height: 427px;
    width: 640px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;

    margin: auto;
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

.bar:hover {
    background-color: white;
}

input {
    display: none;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%
}

.slide { 
    width: 20%;
    transition: .6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1 {
    margin-left: 0;
}

#slide2:checked ~ .s1 {
    margin-left: -20%;
} 

#slide3:checked ~ .s1 {
    margin-left: -40%;
}

#slide4:checked ~ .s1 {
    margin-left: -60%;
}

#slide5:checked ~ .s1 {
    margin-left: -80%;
}

@media (max-width: 673px) {
    nav {
        margin-bottom: 0px;
    }

    .content {
        
        border-radius: 0;

        width: 100%;
        height: auto;
    }

    .navigation {

        bottom: 5px;
    }

    .bar {
        width: 20px;
    }
}

/* @media (max-width: 375px) {
    .content {
        width: 350px;
    }
}

@media (max-width: 320px) {

    .content {
        width: 300px
    }
} */