@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root {
    --cor1: #d2f1f6;
    --cor2: #00b1f2;
    --cor3: #ff7fb7;
    --cor4: #00b1f1;
    --cor5: #b9b9b9;
    --cor6: #ffdf3f;
    --cor7: #3bffab;

    --fonte1: 'Mochiy Pop One', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor1);

    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    background-color: var(--cor2);
    padding-top: 10px;
}

nav {
    background-color: var(--cor2);
    box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.24);
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 11px;
}

nav a:hover{
    background-color: var(--cor1);
    text-decoration: underline;
    color: var(--cor2);

    transition: all .3s;
}

main {
    line-height: 1.5em;
    text-align: justify;    
}

main h1 {
    font-family: var(--fonte1);
    color: var(--cor5);
    padding:50px;
    font-size: 2.6em;
    text-align: center;
}

section#sobre{
    margin: auto;
    max-width: 800px;
}
 
section#sobre p{
    text-indent: 2em;
    padding: 10px
}

section#produtos {
    text-align: center;
}

section#produtos div{
    display: inline-block;
}

section#produtos p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;

    margin: auto;
}

section#produtos img {
    width: 400px;
    padding: 10px;
    border-radius: 15%;
    margin:30px 0;
}

section#endereco {
    padding: 0 20px;
    text-align: center;
}

div#local {
    margin-bottom: 30px;
}

div#local p {
    font-size: 1.1em;
}

div#mapa {
    display: inline-block;
    
}

section#contato {
    text-align: center;
}

section#contato div {
    display:inline-block;
    font-size: 1.5em;
    padding: 15px;

    border-radius: 1000px;
    width: 150px;
    height: 150px;

    background-color: var(--cor2);
    color: #5a5a5a;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);

    margin-left: 10px;
}

section#contato a {
    text-decoration: none;
}

section#contato img {
    width: 50px;
    height: 50px;

    margin-top: 40px;
    margin-bottom: 20px;
}

section#contato p {
    font-size: 0.7em;
}

section#contato div:hover {
    text-decoration: underline;
    background-color: #0186b6;

    transform: translate(0, -5px);

    transition: all .2s;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.301);
}

footer {
    background-color: var(--cor2);
    padding: 15px;
    text-align: center;

    margin-top: 30px;
}

footer a {
    text-decoration: none;
    color: black;
    
}

footer a:hover {
    text-decoration: underline;
    
}

@media (max-width: 852px) {

    header {
        padding-bottom: 15px;
    }

   nav  {
    text-align: center;
   }

   nav a {
    margin: 0 20px;
   }

    section#produtos img {
        width: 350px;
    }

    section#produtos div {
        display:block;
        text-align: center;
    }

    iframe {
        width: 92vw;
    }
}

@media (max-width: 377px) {
    header img {
        width: 250px;
    }
    section#produtos img {
        width: 250px;
    }
}