@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root {
    --cor1: #d2f1f6;
    --cor2: #00b1f2;
    --cor3: #ff7fb7;
    --cor4: #00b1f1;
    --cor5: #b9b9b9;
    --cor6: #ffdf3f;
    --cor7: #3bffab;

    --fonte1: 'Mochiy Pop One', sans-serif;
    --fonte2: 'Josefin Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--cor1) url("../imagens/babyPattern.png");
    background-attachment: fixed;
    font-family: var(--fonte2);
}

header {
    text-align: center;
    background-color: var(--cor2);
    background-image: linear-gradient(to bottom , var(--cor2), var(--cor3));
    padding: 15px 0;
}

img.bebe {
    height: 200px;
    width: auto;
} 

nav {
    background-color: var(--cor3);
    padding-top: 20px;
    padding: 15px;

    text-align: center;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    border-radius: 8px;
    margin-left: 10px;

    font-weight: bold;
    font-size: 1.1em;
}

nav a:hover {
    background-color: var(--cor1);
    text-decoration: underline;
    color: var(--cor2);

    transition: all .3s;
}

main {
    line-height: 1.5em;
    text-align: justify;    
}

main p {
    font-family: var(--fonte2);
}

main h1 {
    font-family: var(--fonte1);
    color: white;
    padding:50px;
    font-size: 2.6em;
    text-align: center;

    background-color: var(--cor3);
}

section {
    background-color: rgba(255, 255, 255, 0.911);
}

section#slider {
    padding: 50px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.432)
}

section#sobre{
    margin: 50px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

section#sobre h1 {
    border-radius: 10px 10px 0px 0px;
}
 
section#sobre p {
    text-indent: 2em;
    padding: 20px;
    margin-top: 10px;

    font-size: 1.1em;
    text-align: justify;
}

section#produtos {
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

section#produtos div{
    display: inline-block;
}

div#categoriasProdutos {
    padding: 60px 0;
}

div.categorias {
    margin: 0 10px;
}

section#produtos p{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 30px;

}

div#carrinhos p {
    margin-bottom: 0;
}

section#produtos img {
    width: 400px;
    border-radius: 15%;
    margin-bottom: 30px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
}

section#endereco {

    text-align: center;
    margin-bottom: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

div#local {
    margin-bottom: 60px;
}

div#local p {
    font-size: 1.5em;
    background-color: var(--cor2);
    display: inline-block;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);

    line-height: 1.5em;

    text-decoration: none;
    color: #5a5a5a;
}



div#local p:hover {
    background-color: #0186b6;

    transform: translate(0, -5px);
    transition: all .2s;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.301);
}

div#mapa {
    display: inline-block;
    
}

iframe {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.308);
    border-radius: 10px;
    width: 85vw;
}

div#mapaEndereco {
    padding: 60px 0;
}

section#contato {
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
}

div#conteudoContato {
    padding: 60px 0;
}

div.botao {

    display: inline-block;
    font-size: 1.5em;
    padding: 25px;

    border-radius: 1000px;
    width: 150px;
    height: 150px;

    background-color: var(--cor2);
    color: #5a5a5a;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.301);

    margin-left: 10px;
    margin-bottom: 20px;
}

section#contato a {
    text-decoration: none;
}

section#contato img {
    width: 50px;
    height: 50px;

    margin-top: 40px;
    margin-bottom: 20px;
}

section#contato p {
    font-size: 0.7em;
}

div.botao:hover {
    text-decoration: underline;
    background-color: #0186b6;

    transform: translate(0, -5px);

    transition: all .2s;

    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.301);
}

footer {
    background-color: var(--cor3);
    padding: 15px;
    text-align: center;

    margin-top: 0px;
}

footer a {
    text-decoration: none;
    color: black;
    
}

footer a:hover {
    text-decoration: underline;
    
}

@media (max-width: 852px) {

    img#logo {
        width: 245px;
    }

    img.bebe {
        height: 120px;
        width: auto;
    }

    header {
        padding-bottom: 15px;
    }

   nav  {
    text-align: center;
   }

   nav a {
    margin: 0 20px;
    font-size: 0.95em;
   }


    section#produtos img {
        width: 350px;
    }

    section#produtos div {
        display:block;
        text-align: center;
    }

    iframe {
        width: 92vw;
    }
}

@media (max-width: 377px) {

    img#logo {
        width: 250px;
    }
    img.bebe {
        display: none;
    }

    nav a {
        margin: 0;
    }

    iframe {
        width: 85vw;
    }

    section#produtos img {
        width: 250px;
    }
} 